{% extends "admin/index.html" %} 
{% block content %} 
  {{ block.super }}
    <div style="margin-top: 2em">
      <h2>Quick Links</h2>
      <ul>
      	<li>
      		<a href="{% url 'admin-dashboard' %}"
            >Steps Monitor Dashboard</a>
      	</li>
        <li>
          <a href="{% url 'admin:core_customuser_changelist' %}"
            >View Users/Participants</a>
        </li>
      </ul>
      
      <h2 style="margin-top: 2em">Reports</h2>
      <ul>
        <li>
          <a href="{% url 'export_research_data' %}"
            >Export Research Data</a>
        </li>
      </ul>
    </div>
{% endblock %}